body {
    background: #111;
    color: #fff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    width: 350px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: #0af;
    border-radius: 5px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #222;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.action-buttons button {
    margin-left: 5px;
}
